<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="ordem">
	{$ordem_editcontrol}
	</control>
	<control 
	field="nome_por">
	{$nome_por_editcontrol}
	</control>
	<control 
	field="nome_eng">
	{$nome_eng_editcontrol}
	</control>
	<control 
	field="nome_esp">
	{$nome_esp_editcontrol}
	</control>
	<control 
	field="imagem">
	{$imagem_editcontrol}
	</control>
	<control 
	field="ocultar">
	{$ocultar_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
