<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="nome">
	{$nome_editcontrol}
	</control>
	<control field="email">
	{$email_editcontrol}
	</control>
	<control field="cidade">
	{$cidade_editcontrol}
	</control>
	<control field="estado">
	{$estado_editcontrol}
	</control>
	<control field="telefone">
	{$telefone_editcontrol}
	</control>
	<control field="departamento">
	{$departamento_editcontrol}
	</control>
	<control field="mensagem">
	{$mensagem_editcontrol}
	</control>
	<control field="arquivo">
	{$arquivo_editcontrol}
	</control>
	<control field="data_contato">
	{$data_contato_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>