<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="titulo_por">
	{$titulo_por_editcontrol}
	</control>
	<control field="titulo_eng">
	{$titulo_eng_editcontrol}
	</control>
	<control field="titulo_esp">
	{$titulo_esp_editcontrol}
	</control>
	<control field="texto_por">
	{$texto_por_editcontrol}
	</control>
	<control field="texto_eng">
	{$texto_eng_editcontrol}
	</control>
	<control field="texto_esp">
	{$texto_esp_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>