<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="ano">
	{$ano_editcontrol}
	</control>
	<control field="texto_por">
	{$texto_por_editcontrol}
	</control>
	<control field="texto_eng">
	{$texto_eng_editcontrol}
	</control>
	<control field="texto_esp">
	{$texto_esp_editcontrol}
	</control>
	<control field="imagem_destaque">
	{$imagem_destaque_editcontrol}
	</control>
	<control field="imagem_principal">
	{$imagem_principal_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>