<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_add} rnr-wrapper rnr-cbw-add">

{BEGIN container_add}
<div class="rnr-c rnr-cv rnr-c-add">

{BEGIN addheader}
<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel produtos add}</h1>
</span></div>{END addheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-addfields {$brickclass_addfields}"><table class="fieldGrid">
	{BEGIN id_subcategoria_fieldblock}
<tr class="{$fielddispclass_id_subcategoria}" data-fieldname="id_subcategoria">
	<td class="rnr-label">
		{BEGIN id_subcategoria_label}{$label produtos id_subcategoria}{END id_subcategoria_label}
	</td>
	<td class="rnr-control style3">
		{$id_subcategoria_editcontrol}&nbsp;
	</td>
</tr>
{END id_subcategoria_fieldblock}
	{BEGIN nome_por_fieldblock}
<tr class="{$fielddispclass_nome_por}" data-fieldname="nome_por">
	<td class="rnr-label">
		{BEGIN nome_por_label}{$label produtos nome_por}{END nome_por_label}
	</td>
	<td class="rnr-control style3">
		{$nome_por_editcontrol}&nbsp;
	</td>
</tr>
{END nome_por_fieldblock}
	{BEGIN nome_eng_fieldblock}
<tr class="{$fielddispclass_nome_eng}" data-fieldname="nome_eng">
	<td class="rnr-label">
		{BEGIN nome_eng_label}{$label produtos nome_eng}{END nome_eng_label}
	</td>
	<td class="rnr-control style3">
		{$nome_eng_editcontrol}&nbsp;
	</td>
</tr>
{END nome_eng_fieldblock}
	{BEGIN nome_esp_fieldblock}
<tr class="{$fielddispclass_nome_esp}" data-fieldname="nome_esp">
	<td class="rnr-label">
		{BEGIN nome_esp_label}{$label produtos nome_esp}{END nome_esp_label}
	</td>
	<td class="rnr-control style3">
		{$nome_esp_editcontrol}&nbsp;
	</td>
</tr>
{END nome_esp_fieldblock}
	{BEGIN descricao_por_fieldblock}
<tr class="{$fielddispclass_descricao_por}" data-fieldname="descricao_por">
	<td class="rnr-label">
		{BEGIN descricao_por_label}{$label produtos descricao_por}{END descricao_por_label}
	</td>
	<td class="rnr-control style3">
		{$descricao_por_editcontrol}&nbsp;
	</td>
</tr>
{END descricao_por_fieldblock}
	{BEGIN descricao_eng_fieldblock}
<tr class="{$fielddispclass_descricao_eng}" data-fieldname="descricao_eng">
	<td class="rnr-label">
		{BEGIN descricao_eng_label}{$label produtos descricao_eng}{END descricao_eng_label}
	</td>
	<td class="rnr-control style3">
		{$descricao_eng_editcontrol}&nbsp;
	</td>
</tr>
{END descricao_eng_fieldblock}
	{BEGIN descricao_esp_fieldblock}
<tr class="{$fielddispclass_descricao_esp}" data-fieldname="descricao_esp">
	<td class="rnr-label">
		{BEGIN descricao_esp_label}{$label produtos descricao_esp}{END descricao_esp_label}
	</td>
	<td class="rnr-control style3">
		{$descricao_esp_editcontrol}&nbsp;
	</td>
</tr>
{END descricao_esp_fieldblock}
	{BEGIN video_fieldblock}
<tr class="{$fielddispclass_video}" data-fieldname="video">
	<td class="rnr-label">
		{BEGIN video_label}{$label produtos video}{END video_label}
	</td>
	<td class="rnr-control style3">
		{$video_editcontrol}&nbsp;
	</td>
</tr>
{END video_fieldblock}
</table></div>


{BEGIN addbuttons}
<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}">{BEGIN save_button}
<a href="#" class="rnr-button main" id="saveButton{$id}">Salvar</a>
{END save_button}
{BEGIN reset_button}
<a href="#" class="rnr-button" id="resetButton{$id}">Limpar</a>
{END reset_button}
{BEGIN cancel_button}
<a href="#" class="rnr-button" id="cancelButton{$id}">Cancela</a>
{END cancel_button}
{BEGIN back_button}
<a href="#" class="rnr-button" id="backButton{$id}">Voltar à Lista</a>
{END back_button}
{BEGIN backToMenu_button}
<a href="#" class="rnr-button" id="backToMenuButton{$id}">Voltar ao Menu</a>
{END backToMenu_button}</div>{END addbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_add}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
